a:link {
    text-decoration: none;
    color: #444444;
}

a:visited {
    text-decoration: none;
    color: #222222;
}

a:hover {
    font-weight: bold;
}

a:active {
    font-weight: bold;
}


h1, h2, h3, p, li{ 
	font-family: 'Open Sans', Arial, sans-serif; 
	text-align: center;
}

h1 {
	color: #666666;
	font-size: 72px;
	font-weight: 300;
}

h3 {
	color: #aaaaaa;
}

p{

}


html{
	background: url("http://kasian.com/sites/default/files/imagecache/project-landing-1200x754/Boland-BCIT-0400_composite-notruck.jpg") 100% 0 repeat fixed;
	background-size: cover;
	min-width:978px;
}


#page {
   border-collapse: collapse;
}



.top-section h1 {
	color: white;
	padding-bottom: 30px;
}

.bcit-h1{
	font-size: 36px;
	font-weight: 700;
}

.top-section{
	padding: 3.66667rem 0;
	background: rgba(22, 160, 133,.9);
	padding-bottom: 225px;

}


/*PROFILE*********************************************/

.about{
	clear: both;
	padding-bottom: 300px;
	margin-top: -20px;
	padding-top: 30px;
	background-color: white;
}

.container{
	clear: both;
	padding-top: 30px;
}


.three-col-container{
	width: 978px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 50px;
}

.col1, .col2, .col3{
	float: left;
	width: 33%;
}

.profile-pic{
	width: 150px;
	height: auto;
	border-radius: 90px;
	border: 6px solid #f3bc32;
}

.profile-pic:hover{
	border: 6px solid #16a085;
	background: rgba(22, 160, 133,0.8);
}

.profile-pic-section{
	margin-left: 85px;
	margin-right: auto;
}


/*RATIONALE*******************************************/

.rationale{
	clear: both;
	padding-bottom: 100px;
	float:left;
	width: 100%;
	background: rgba(20, 20, 20,.5);
}

.rationale h1{
	color: white;
}

.p-description{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	color: black;
	padding: 30px;
	background: white;
}

.p-description:nth-of-type(2){
	margin-bottom:0;
}

ul.p-description{
	margin-top:0;
	padding-top: 0;
}

ul{
	list-style-type: none;
}

li{
	text-align:left;
	margin-bottom:1em;
}

li:last-of-type{
	margin-bottom:0;
}



/****Project link****************************************/

.project{
	clear: both;
	background: none repeat scroll 0 0 #16a085;
	float:left;
	width: 100%;
	padding:125px 0;


}

.project h1{
	color: white;
	margin-top: -20px;
}

.project h3 a, .top-section h3 a{
	color: white;	
	border-radius: 5px;
	padding: 7px;
	background-color: #f3bc32;
	border: 2px solid white;

}

.project h3 a:hover, .top-section h3 a:hover{
	background-color: #f39c12;
}




/*SITEMAP**********************************************/

.sites{
	clear: both;
	background: none repeat scroll 0 0 #F1F1F1;
	padding-bottom: 100px;
	float:left;
	width: 100%;

}

.sites a:hover{
	color: #16a085;
}

.footer{
	clear: both;
	height:40px;
	background: none repeat scroll 0 0 #666666;

}


.body{
	margin: 0px;
}





