a:link {
    text-decoration: none;
    color: #444444;
}

a:visited {
    text-decoration: none;
    color: #222222;
}

a:hover {
    text-decoration: bold;
}

a:active {
    text-decoration: bold;
}


h1, h2, h3 { 
	font-family: 'Open Sans', Arial, sans-serif; 
	text-align: center;
}

h1 {
	color: #666666;
	font-size: 72px;
	font-weight: 100;
}



h3 {
	color: #aaaaaa;
}



#page {
   border-collapse: collapse;
}

.main-header{

	background: url("http://kasian.com/sites/default/files/imagecache/project-landing-1200x754/Boland-BCIT-0400_composite-notruck.jpg") 20% 0 repeat fixed;
	background-size: cover;

}

.top-section h1 {
	color: white;
}

.bcit-h1{
	font-size: 36px;
	font-weight: 700;
}

.footer{
	clear: both;
	padding-top: 100px;
	height:60px;
	background: none repeat scroll 0 0 #666666;

}

.top-section{
	padding: 3.66667rem 0;
	background: rgba(22, 160, 133,0.5);
	padding-bottom: 175px;

}

.about{
	clear: both;
	padding-bottom: 300px;
}


.container{
	clear: both;
	background-color: #FFFFFF;
	padding-top: 30px;
}

/****Project link***/

.project{
	clear: both;
	background: none repeat scroll 0 0 #16a085;
	padding-bottom: 100px;
	float:left;
	width: 100%;
}

.project h1{
	color: white;
}

.project h3 a{
	color: white;	
	border-radius: 5px;
	padding: 7px;
	background-color: #f3bc32;
	border: 2px solid white;

}

.project h3 a:hover{
	background-color: #f39c12;
}

.p-description{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	color: #ddd;
	padding-top: 20px;

}


/*Sites*/

.sites{
	clear: both;
	background: none repeat scroll 0 0 #F1F1F1;
	padding-bottom: 100px;
	float:left;
	width: 100%;

}

.three-col-container{
	width: 978px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 50px;
}

.col1, .col2, .col3{
	float: left;
	width: 33%;
	background-color: #FFFFFF;
}

.profile-pic{
	width: 150px;
	height: auto;
	border-radius: 90px;
	border: 6px solid #f3bc32;
}

.profile-pic-section{
	margin-left: 85px;
	margin-right: auto;
}


/*RATIONALE*/

.rationale{
	clear: both;
	background: none repeat scroll 0 0 #DDDDDD;
	padding-bottom: 100px;
	float:left;
	width: 100%;

}



.body{
	margin: 0px;
}





